/Java/Assignment2/nbproject/private/
/Java/Assignment2/build/
/Java/TestingSystem2/nbproject/private/
/Java/Assignments/nbproject/private/
/Java/Assignment3/nbproject/private/
/Java/Assignment3/build/
/Java/Testing_System3/nbproject/private/
/Java/Testing_System3/build/
/Java/Testing_System4/nbproject/private/
/Java/Testing_System4/build/
/Java/Extra_Assignment4/nbproject/private/
/Java/Testing_System5/nbproject/private/
/Java/Testing_System5/build/
/Java/Thread/nbproject/private/
/Java/Threadd/nbproject/private/
/Java/Extra2_Assignment5/nbproject/private/
/Java/TCPClient1/nbproject/private/
/Java/TCPServer1/nbproject/private/
/Java/TCPClient1/build/
/Java/TCPClient1/dist/
/Java/TCPServer1/dist/
/Java/TCPServer1/build/
/Java/UDPClient/nbproject/private/
/Java/UDPServer/nbproject/private/